.loadingPage {
    position: fixed;
    display:grid;
    place-items:center;
    z-index: 1000;
    padding-top: 100px; /* Ubica el modal un poco hacia abajo */
    left: 0;
    top: 0;
    width: 100%; /* Full ancho */
    height: 100%; /* Full altura */
    overflow: hidden; /* Habilita el scroll si es necesario */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7);
}
