@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<Loading />
<RadzenLayout>

    <RadzenBody>
        <div class="rz-p-5 rz-m-5">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
    </RadzenFooter>
</RadzenLayout>
<RadzenStack>
    @Body
</RadzenStack>

@code {

}

