<div id="printHeader" class="only-print">
  <div class="flex flex-row m-1">
    <figure class="img-fluid">
      <img 
        src="https://uteco.edu.do/wp-content/uploads/cropped-logo_uteco.png"
        alt=""/>
    </figure>
   
    <div style="width:100% ; text-align:center">
      <h1 style="font-size:25px">
        Universidad Tecnológica del Cibao Oriental
      </h1>
      <h5 >
        Av. Universitaria No. 100, Cotuí, provincia Sánchez Ramírez, República
        Dominicana, 43000
      </h5>
    </div>
  </div>
</div>
<RadzenButton Icon="print" Text="Print" class="mt-2 mb-4" Click="OnClick">
</RadzenButton>

@code {
    [Inject] ILogger<PrintButton> Logger { get; set; }
    [Parameter]
    public required string ComponentName { get; set; }
    [Inject]
    public IJSRuntime JsRuntime { get; set; }
    private async Task OnClick(MouseEventArgs arg)
    {
        await JsRuntime.InvokeVoidAsync("printByDocumentId",ComponentName);
    }

}